* {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  vertical-align: baseline;
}
/* Theme Light and Dark Setup */
/* .theme-light body {
}

.theme-dark body {
  color: #ccc;
  background-color: #353838;
} */
body {
  transition: background-color 0.03s ease-in-out, color 0.03s ease-in-out;
  color: #353838;
  background-color: #f9f9ff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2vh 8vw;
}
ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 5vw;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
nav {
  align-items: center;
}
section {
  margin: 30vh 0;
}

section > h1 {
  margin: 4vh 0;
  font-size: 2rem;
}

.wrapper {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2vh 6vw;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Navbar Section */
.navbar-toggle {
  display: none;
  font-size: 1.5rem;
}
.navbar-toggle svg {
  cursor: pointer;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  cursor: pointer;
}

.nav-elements ul a:hover {
  font-weight: 500;
}

/* Main Container Section */

.main_container {
  text-align: center;
}

.main_container img {
  width: 130px;
  border-radius: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 3px 8px);
}

.main_container ul {
  justify-content: center;
  font-size: 1.75rem;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5vh 0;
}

.main_container ul li {
  color: #353838;
}

/* About Me Section */
.about {
  display: flex;
}
.about > div {
  flex: 1;
}
.about .summary {
  color: #333;
  display: flex;
  flex: 5;
  border-radius: 1.3rem;
  padding: 3vh 3vw;
  box-shadow: rgba(0, 0, 0, 0.08) -5px 3px 8px;
  position: relative;
  gap: 10px;
}
/* .theme-light .about .summary {
  background: #fff;
}
.theme-dark .about .summary {
  background: #fff;
} */
/* .theme-light .about .summary::after {
  border-right-color: #fff;
}
.theme-dark .about .summary::after {
  border-right-color: #fff;
} */
/* .about .summary::after {
  border: 0.75em solid transparent;
  border-left: none;
  content: '';
  position: absolute;
  right: 100%;
  top: 50px;
} */
.about .summary > div {
  flex: 1;
}
.about .summary > div button {
  margin: 3vh 0 1.5vh;
}
.about .skills {
  flex: 1;
}
.progress_bar {
  width: 100%;
  background-color: #f1f1f1;
  margin: 1.4vh 0;
  height: 8px;
  border-radius: 30px;
}
.progress_bar .bar {
  height: 8px;
  border-radius: 30px;
  background: #ffd15c;
}
.skills_description {
  display: flex;
}
.skills_description h4 + h4 {
  margin-left: auto;
  font-weight: 200;
}

@media (max-width: 630px) {
  .navbar-toggle {
    display: block;
  }
  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: width 0.3s ease-in;
    overflow: hidden;
    z-index: 1;
  }
  .theme-light .nav-elements {
    background: #f9f9ff;
  }
  .theme-dark .nav-elements {
    background: #353838;
  }
  .nav-elements.active {
    width: 100%;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
  .summary {
    flex-direction: column;
  }
}
