* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.03s ease-in-out, color 0.03s ease-in-out;
}
/* Theme Light and Dark Setup */
/* .theme-light body {
}

.theme-dark body {
  color: #ccc;
  background-color: #353838;
} */
body {
  color: #353838;
  background-color: #f9f9ff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2vh 8vw;
}
ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 5vw;
}
a {
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
nav {
  align-items: center;
}
section {
  margin: 30vh 0;
}

section > h1 {
  margin: 4vh 0;
  font-size: 2rem;
}

.wrapper {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 2vh 6vw;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Navbar Section */
.navbar-toggle {
  display: none;
  font-size: 1.5rem;
}
.navbar-toggle svg {
  cursor: pointer;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  cursor: pointer;
}

/* Main Container Section */

.main_container {
  text-align: center;
}

.main_container img {
  width: 130px;
  border-radius: 100%;
  filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 3px 8px);
}

.main_container ul {
  justify-content: center;
  font-size: 1.75rem;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 5vh 0;
}

.main_container ul li {
  color: #353838;
}

@media (max-width: 630px) {
  .navbar-toggle {
    display: block;
  }
  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: width 0.3s ease-in;
    overflow: hidden;
    z-index: 1;
  }
  .theme-light .nav-elements {
    background: #f9f9ff;
  }
  .theme-dark .nav-elements {
    background: #353838;
  }
  .nav-elements.active {
    width: 100%;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
    gap: 5vh;
  }
}
